.container {
    border: 1px solid var(--primary);
    border-radius: 5px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 300px;
    margin: 1rem auto;
    padding: 1rem;
    place-items: center;
    transition: .3s ease-in-out;
    width: 350px;

    h3 {
        color: var(--secondary);
    }

    &:hover {
        background-color: var(--secondary);
        border: 1px solid var(--secondary);
        cursor: pointer;

        h3 {
            color: var(--black);
        }
    }

    @media (min-width: 480px) {
        margin: 1rem;
        width: 450px;
    }
}