.container {
    border: 1px solid var(--primary);
    border-radius: 5px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 300px;
    margin: 1rem;
    padding: .5rem;
    place-items: center;
    width: 500px;

   
}