.container {
    border: none;
    border-block-end: 1px solid var(--white);
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: auto  1fr;
    margin: auto;
    margin-block-end: 2rem;
    padding: 1rem;
    width: 100%;
    
    img {
        width: 80%;
    }
    
    span {
        color: var(--secondary);
    }
    
    @media (min-width: 992px) {
        border-block-end: unset;
        border-inline-end: 1px solid var(--primary); 
        left: 1rem;
        min-height: 50rem;
        place-items: center; 
        top: 20%;
    }
}

.cover {
    display: grid;
    grid-gap: 1rem;
    place-items: center;

    p {
        font-style: italic;
    }

    span {
        font-style: normal;
    }
}

.description {
    height: auto;
    
    @media (min-width: 992px) {
        height: 500px;
        overflow-x: hidden;
        overflow-y: auto;
        padding-inline-end: 1rem;
    }
}